html, body, #root, .weather-app {
  height: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.forecast-wrapper {
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: auto;
}

footer {
  background-color: lightgrey;
  position: absolute;
  padding: 10px 0;
  text-align: left;
  width: 100%;
  bottom: 0;
}

footer small {
  padding-left: 10px;
  color: azure; 
}

small a {
  color: antiquewhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
