html, body, #root {
  height: 100%;
}
.weather-app {
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: lightgrey;
  position: absolute;
  padding: 10px 0;
  text-align: left;
  width: 100%;
  bottom: 0;
}

footer small {
  padding-left: 10px;
  color: azure; 
}

small a {
  color: antiquewhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
