html, body, #root, .weather-app {
  height: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.forecast-wrapper {
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.current-weather {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}

.next-five-days {
  display: flex;
  justify-content: center;
}

.current-weather-image-temperature {
  margin: 10px 0 0;
}

.current-weather-image-temperature img {
  vertical-align: middle;
  margin-right: 20px;
}

.current-weather-image-temperature span {
  font-size: 1.5rem;
  vertical-align: middle;
}

.current-weather h4 {
  margin: 15px 0 25px;
  text-transform: uppercase;
}

.main-title {
  text-align: center;
}

footer {
  background-color: lightgrey;
  position: absolute;
  padding: 10px 0;
  text-align: left;
  width: 100%;
  bottom: 0;
}

footer small {
  padding-left: 10px;
  color: azure; 
}

small a {
  color: antiquewhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
